---
title: Menu
layout: default
permalink: /menu/
---
<div itemtype="http://schema.org/Restaurant" itemscope="" itemref="header">
	<nav id="menu-sections-nav" class="sticky top flex row">
		{% for section in site.data.menu %}
			<a href="{{ section.name | slugify | prepend: '#' | prepend: page.url | absolute_url }}" class="shadow" role="button">{{ section.name }}</a>
		{% endfor %}
	</nav>
	<div itemprop="menu" itemtype="http://schema.org/Menu" itemscope="">
		{% for section in site.data.menu %}
			{% include menu-section.html menusection=section %}
		{% endfor %}
	</div>
</div>
