---
title: Menu
layout: default
permalink: /menu/
---
<div itemtype="http://schema.org/Restaurant" itemscope="">
	<header class="branding center background-accent color-alt">
		{% include icon.html icon=site.logo class='logo current-color' itemprop='image' %}
		<h1 itemprop="name">{{ site.data.publisher.name }}</h1>
		<figure itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
			<img alt="image" class="logo current-color" src="{{ site.data.publisher.image.url | absolute_url }}" itemprop="url" />
		</figure>
	</header>
	{% for cuisine in site.data.publisher.servesCuisine %}<meta itemprop="servesCuisine" content="{{ cuisine }}" />{% endfor %}
	<meta itemprop="priceRange" content="{{ site.data.publisher.priceRange | default: '$$' }}" />
	<meta itemprop="openingHours" content="{{ site.data.publisher.openingHours }}" />
	<div>
		<span role="button">{% include telephone.html telephone=site.data.publisher.telephone %}</span>
		<span role="button">{% include url.html url=site.data.publisher.url %}</span>
	</div>
	{% include address.html address=site.data.publisher.address %}
	<div itemprop="menu" itemtype="http://schema.org/Menu" itemscope="">
		{% for section in site.data.menu %}
			{% include menu-section.html menusection=section %}
		{% endfor %}
	</div>
</div>
