<section id="{{ include.menusection.name | slugify }}" class="menu-section" itemprop="hasMenuSection" itemtype="http://schema.org/MenuSection" itemscope="">
	<header class="font-title center color-alt background-accent">
		<h2>
			{% include icon.html icon='dining' %}
			<span itemprop="name">{{ include.menusection.name }}</span>
		</h2>
	</header>
	<figure class="center" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
		{% include imgur.html url=include.menusection.image itemprop='url' %}
		<figcaption itemprop="caption">{{ include.menusection.description }}</figcaption>
	</figure>
	<div>
		{% for item in include.menusection.menu %}{% include menu-item.html menuitem=item %}{% endfor %}
	</div>
</section>
