<div class="{{ include.class | default: 'shadow flex row' }} menu-item" itemprop="hasMenuItem" itemtype="http://schema.org/MenuItem" itemscope="">
	{% if include.menuitem.image %}
		<figure class="inline-block" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
			{% include imgur.html
				url=include.menuitem.image
				decoding='async'
				sizes='(max-width: 600px) 80vw, 10vw'
				default_size='t'
				itemprop='url'
				class='menuitem-image'
			%}
		</figure>
	{% endif %}
	<h4 class="inline-block">
		<span itemprop="name">{{ include.menuitem.name }}</span>
		<span itemprop="offers" itemtype="http://schema.org/Offer" itemscope="">
			<b itemprop="price" data-before="$">{{ include.menuitem.price }}</b>
			<meta itemprop="priceCurrency" content="{{ include.menuitem.priceCurreny | default: 'USD' }}" />
		</span>
	</h4>
	<blockquote class="inline-block" itemprop="description">{{ include.menuitem.description }}</blockquote>
</div>
