<div class="{{ include.class | default: 'card shadow flex row' }}" itemprop="hasMenuItem" itemtype="http://schema.org/MenuItem" itemscope="">
	<div>
		<h4>
			<span itemprop="name">{{ include.menuitem.name }}</span>
			<span itemprop="offers" itemtype="http://schema.org/Offer" itemscope="">
				<b itemprop="price" data-before="$">{{ include.menuitem.price }}</b>
				<meta itemprop="priceCurrency" content="{{ include.menuitem.priceCurreny | default: 'USD' }}" />
			</span>
		</h4>
		{% if include.menuitem.image %}{% include imgur.html url=include.menuitem.image sizes='10vw' %}{% endif %}
	</div>
	<div>
		<blockquote itemprop="description">{{ include.menuitem.description }}</blockquote>
	</div>
</div>
