<!DOCTYPE html>
<html
	lang="{{ site.lang | default: 'en' }}"
	dir="{{ site.dir | default: 'ltr' }}"
	class="no-js scroll-smooth"
	itemtype="{{ page.itemtype | default: 'http://schema.org/WebPage' }}"
	itemscope=""
	{% if site.service_worker %}data-service-worker="{{site.service_worker | absolute_url }}"{% endif %}
	{% if site.google-analytics %}data-google-analytics="{{ site.google-analytics }}"{% endif %}
	{% if page.ads %}data-ad-sense-id="{{ site.ad-sense }}"{% endif %}
	{% if page.pageLevelAds %}data-page-level-ads="{{ page.pageLevelAds }}"{% endif %}
>
{% include head.html %}
	<body
		id="top"
		data-scene="{{ page.scene | default: 'lake' }}"
		class="layout-{{ page.layout }} {{ page.body-class | default: 'border-box smooth-scroll font-main color-default background-default' }}"
		contextmenu="{{ page.contextmenu | default: site.contextmenu }}"
		{% if page.itemprop and page.itemtype %}
			itemprop="{{ page.itemprop }}"
			itemtype="{{ page.itemtype }}"
			itemscope=""
		{% endif %}
	>
		{% include header.html %}
		<main>{{ content }}</main>
		{% include footer.html %}
		{% include share-button.html %}
	</body>
</html>
