:root {
	--main-font: "Roboto";
	--title-font: "Dancing Script", cursive;

	--default-color: #333;
	--primary-color: #E2CDBA;
	--alt-color: #fefefe;
	--accent-color: #5D1C05;
	--accent-color-2: #2C0D03;

	--button-border: none;
	--button-border-radius: 6px;
	--button-padding: 0.6em;
	--button-background: #477819;
	--button-color: var(--alt-color);
	--button-active-background: #193400;
	--button-active-border: var(--button-border);
	--button-active-color: var(--button-color);
	--button-disabled-background: var(--button-active-background);
	--button-disabled-color: var(--button-active-color);
	--button-disabled-border: var(--button-border);

	--coffee-background-f: url("https://i.imgur.com/Zu7oPaz.jpg");
	--coffee-background-h: url("https://i.imgur.com/Zu7oPazh.jpg");
	--coffee-background-l: url("https://i.imgur.com/Zu7oPazl.jpg");
	--coffee-background-m: url("https://i.imgur.com/Zu7oPazm.jpg");
	--coffee-background-s: url("https://i.imgur.com/Zu7oPazt.jpg");
}
